package layout

templ BaseLayout() {
	<html lang="pt-br">
		<head>
			<title>Home</title>
			<link href="public/assets/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			<h1 class="text-lg bg-red-200 flex justify-center items-center">teste12</h1>
			<h1 class="text-lg bg-red-200 flex justify-center items-center">teste</h1>
			<h1 class="text-lg bg-red-200 flex justify-center items-center">teste1</h1>
		</body>
	</html>
}
