package layout

templ BaseLayout() {
	<html lang="pt-br">
        <head>
            <title>Home</title>
            <link href="public/assets/css/output.css" rel="stylesheet">
        </head>
        <body>
            <h1 class="text-lg bg-red-100">Welcome to the home test</h1>
        </body>
    </html>
}